In [ ]:
# This Python 3 environment comes with many helpful analytics libraries installed
# It is defined by the kaggle/python Docker image: https://github.com/kaggle/docker-python
# For example, here's several helpful packages to load

import numpy as np # linear algebra
import pandas as pd # data processing, CSV file I/O (e.g. pd.read_csv)

# Input data files are available in the read-only "../input/" directory
# For example, running this (by clicking run or pressing Shift+Enter) will list all files under the input directory

import os
for dirname, _, filenames in os.walk('/kaggle/input'):
    for filename in filenames:
        print(os.path.join(dirname, filename))

# You can write up to 20GB to the current directory (/kaggle/working/) that gets preserved as output when you create a version using "Save & Run All" 
# You can also write temporary files to /kaggle/temp/, but they won't be saved outside of the current session

#### Left as is, the above block. Just ran it once to see what we have in store here. Running the above block prints all files currently in the input directory.

### Code block for importing libraries at one place

In [ ]:
from matplotlib import pyplot as plt
import seaborn as sns

## Just reading the data in using pd.read_csv()
#### Pokedex_ID is not the dataset serial number column. Also, I don't believe we have any actual use of pokedex-id for any work that we might be doing. If anyone can comment on that.

In [ ]:
poke = pd.read_csv('/kaggle/input/pokemon-pokedex-data/pokemon_pokedex_data.csv')

### Printed head and tail, just to look at it

In [ ]:
poke.head()

In [ ]:
poke.tail()

### Check out this mamacita, 800 rows, 13 columns. Damn!

In [ ]:
poke.info()

In [ ]:
poke.shape

cleaning

top 5 pokemon of each type (type_1)

In [ ]:
poke.isna().sum()

### Some pokemon don't have a secondary type. So, there are some empty cells in the data set in the 'type_2' column.
I want to replace the empty values with 'Normal'

In [ ]:
poke['type_2'] = poke['type_2'].fillna('Normal')

In [ ]:
poke.head()

I had changed the column names in this dataset and had some more issues that I wanted to fix using python. The secondary type of pokemons was empty. This was one more issue I had with this data. 
Once I'm done with the dataset fixing, I'll export it and upload to Kaggle database and prolly make a new notebook for it.

In [ ]:
poke.to_csv('pokemon_cleaned_data.csv', index=False)

### Now some fun things. we can see what distinct values we have for different pokemon types

In [ ]:
# this prints all values for a column 'type_1' from dataframe 'poke'
# poke['type_1'].values

# if we create a set of these values, we get only the distinct (non-repeating) values
set(poke['type_1'].values)

In [ ]:
# similarily for type_2:
print(set(poke['type_2'].values))

In [ ]:
# using this technique we can verify how many distict values 'is_legendary' column has. Ideally it should have just 2 values.
# True and False

print(set(poke['is_legendary'].values))

In [ ]:
''' 
Let's talk about 'total_attack' column. They have added all the values of columns - 
health_points, attack, defense, special_attack, special_defense, and speed and saved it in total_attack column.
'''

# So, should we try and sort the dataframe by column 'total_attack' and let's group it by 'type_1', somehow . . .
poke.sort_values(by='total_attack', ascending=False)

In [ ]:
sorted_poke = poke.sort_values(by='total_attack', ascending=False)
grouped_poke = sorted_poke.groupby('type_1')

In [ ]:
grouped_poke

In [ ]:
'''
for type_1, group in grouped_poke:
    print(f"Type 1: {type_1}")
    print(group)
    print()
'''